/* MainPage.css */

.Main{
  max-width: 100rem;
  max-height: 50rem;
}
.MainPage {
  font-family: Arial, sans-serif;
  background: f0f0f0;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

.type-selector {
  margin: 20px 0;
}
.button-container {
  text-align: center; /* Center the button horizontally */
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px; /* Set a fixed width for the button */
  margin: 0 auto; /* Center the button horizontally within the container */
  margin-top: 1rem;
}

.button:hover {
  background-color: #0056b3;
}


.hall-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.hall-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.hall-card h2 {
  color: #333;
}

.view-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.view-button:hover {
  background-color: #0056b3;
}

.booking-modal {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

.booking-modal h2 {
  color: #333;
}

.form-group {
  margin: 10px 0;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button[type="button"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px; /* Set a fixed width for the button */
  margin: 0 auto; /* Center the button horizontally within the container */
  margin-top: 1rem;
  margin-left: 1.1rem;
}

button[type="button"]:hover {
  background-color: #0056b3;
}
