.MainPage {
    text-align: center;
    padding: 40px;
    margin-top: 30rem;
    background: linear-gradient(to bottom, #3498db, #a2d9ff);

}

h1{
    color: white;
}
  
  .hall-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  
 /* MainPage.css */

.hall-card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: calc(30% - 60px); /* Adjust the width as needed for responsiveness */
    box-sizing: border-box;
  }
  
  .hall-card h2 {
    font-size: 20px;
    margin: 0;
  }
  
  .hall-card p {
    font-size: 16px;
    margin: 5px 0;
  }
  
  
  .hall-card:hover {
    transform: translateY(-5px);
  }
  
  h2 {
    font-size: 24px;
    margin: 0 0 10px;
  }
  
  p {
    font-size: 16px;
    margin: 0 0 10px;
  }
  
  /* You can customize the colors and styles to match your design */
  